@tailwind base;
@tailwind components;
@tailwind utilities;

.homepge{
    /*width:99vw;*/
    height:99vh;
    background-color: rgb(10, 50, 124);
    color: antiquewhite;
    font-family:'Lucida Sans';
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpic{
    width:30px;
    height:40px;
}

.btn{
    background-color: black;
    color:antiquewhite
}

.navbar{
    /*width:99vw;*/
    padding-left: 10px;
    padding-right: 10px;
    height:50px;
    background-color: rgb(43, 5, 17);
    color:antiquewhite;
    font-family:Georgia;
    
}

.spacer {
    flex-grow: 1; /* This will take up the remaining space between the elements */
  }