@tailwind base;
@tailwind components;
@tailwind utilities;

.homepge{
    width:100vw;
    height:100vh;
    background-color: rgb(226, 16, 86);
    color: rgb(41, 9, 185);
    font-family:'Lucida Sans';
    
}

.mainpic{
    width:30px;
    height:40px;
}

.btn{
    background-color: black;
    color:antiquewhite
}